.about{padding: 20px 0px;}
.image{background-color: grey;height: 500px;color: white;padding: 20px;}
.row{padding: 20px!important;box-shadow: 0px 0px 5px black;margin: 50px;}
h2{padding: 20px;text-align: center;}
